body {
    background-image: url(images/z3.jpg);
    background-repeat: no-repeat;

}

.header-container {
    text-align: center;
    width: 1000px;
    height: 450px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}

h1 {
    font-size: 50px;
    color: white;
    font-weight: 900;
    font-family: 'Kanit', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
    font-weight: 100;
    text-align: justify;

}

.donnet-button {
    background-image: linear-gradient(rgb(33, 250, 47), black);
    color: azure;
    padding: 8px 14px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 15px;
    margin-top: 600px;
}